<div class="apps-container cf">
  <span class="hidden">You have no Installed apps at the moment</span>
  <ul>
    <% @apps.each do |app| %>
      <li>
        <%= render app %> 
      </li>
    <% end %>
  </ul>
  <div class="extended-info"></div>
</div>