// Place all the styles related to the Apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$site-max-width: 800px;
$site-min-width: 460px;

.apps-container {
  margin: 0px auto;
  max-width: $site-max-width;
  min-width: $site-min-width;
  position: relative;

  >ul li {
    float:left;
    margin-bottom: 10px;
  }

  article.app {
    h1 {
      font-size: 13px;
      margin: 0;
      overflow: hidden;
      white-space: nowrap; /* Don't forget this one */
      text-overflow: ellipsis;
    }
    &:hover {
      .actions {
        transition: opacity 0.21s linear 0s;
        opacity:1;
      }
    }
    width: 150px;
    position: relative;

    .details {
      margin:0px 4px;
    }
    .actions {
      position: absolute;
      top: 80px;
      width: 100%;
      padding:21px 0;
      text-align: center;
      background: none repeat scroll 0 0 rgba(99, 99, 99, 0.9);
      opacity: 0;
      transition: opacity 0.6s ease-out 0s;
      
      a {
        text-decoration: none;
      }

      .button {
        display: inline-block;
        padding: 0 5px;
        height: 28px;
        line-height: 28px;
        background-color: #333333;
        color: #FFFFFF;
        &:hover {
          background-color: black;
        }
        &.download {
          background-color: #428BCA;
          border-color: #357EBD;
          &:hover {
            background-color: #136FAF;
          }
        }
        &.downloaded {
          background-color: #5CB85C;
          border-color: #4CAE4C;
          &:hover {
            background-color: #47A447;
          }
        }
        &.info {
        }
        &.selected {
          background-color: #EA7B34;
          &:hover {
            background-color: #C7692C;
          }
        }
        
      }
    }
  }
  .extended-info {
    margin: 0 auto;
    display: none;
    height: 400px;
    width: 300px;
    background-color: white;
    padding:10px;
  }
  article.app-extended {
    section.summary {
      width: 250px;
      margin-right:50px;
      .details{
        margin:25px 0;
        p {
          margin: 10px 0;
        }
      }
    }
    section.description {
      max-width: 500px;
    }
  }

  .column {
    float:left;
  }
}
