$site-max-width: 900px;
$site-min-width: 460px;

.apps-container {
  margin: 0px auto;
  max-width: $site-max-width;
  min-width: $site-min-width;
  position: relative;

  >ul li {
    float:left;
    margin-bottom: 20px;
  }

  article.app {
    h1 {
      font-size: 14px;
      font-family: Verdana, Arial, sans-serif;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &:hover {
      .actions {
        transition: opacity 0.21s linear 0s;
        opacity:1;
      }
    }
    width: 150px;
    position: relative;

    .details {
      margin:0px 4px;
    }
    .actions {
      position: absolute;
      top: 80px;
      width: 100%;
      padding:21px 0;
      text-align: center;
      background: none repeat scroll 0 0 rgba(99, 99, 99, 0.9);
      opacity: 0;
      transition: opacity 0.6s ease-out 0s;
      
      a {
        text-decoration: none;
      }

      .button {
        display: inline-block;
        padding: 0 5px;
        height: 28px;
        line-height: 28px;
        background-color: #333333;
        color: #FFFFFF;
        &:hover {
          background-color: black;
        }
        &.install {
          background-color: #428BCA;
          border-color: #357EBD;
          background-position: 0px 0px;
          &:hover {
            background-color: #136FAF;
          }
        }
        &.installed {
          background-color: #47A447;
          border-color: #4CAE4C;
        }
        &.uninstall {
          background-color: #D9534F;
          border-color: #D43F3A;
          &:hover{
            background-color: #D2322D;
          }
        }
        &.selected {
          background-color: #EA7B34;
          &:hover {
            background-color: #C7692C;
          }
        }
        &.loading:before{
          display: inline-block;
          content: "";
          height: 10px;
          width: 22px;
          background:url(ajax-bar.gif) no-repeat;
        }
      }
    }
  }
  .extended-info {
    margin: 0 auto;
    display: none;
    height: 400px;
    width: 300px;
    background-color: white;
    padding:10px;
  }
  article.app-extended {
    section.summary {
      width: 250px;
      margin-right:50px;
      img {
        width: 252px;
        height: 252px;
      }
      .details{
        margin:0 0 30px;
        p {
          margin: 16px 0;
          span {
            display: block;
          }
        }
      }
    }
    section.description {
      max-width: 600px;
    }
  }

  .column {
    float:left;
  }
}
