// Place all the styles related to the Apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.apps-container {
  margin: 0px auto;
  max-width: 800px;

  >ul li {
    float:left;
    margin-bottom: 10px;
  }

  article.app {
    &:hover {
      .actions {
        transition: opacity 0.21s linear 0s;
        opacity:1;
      }
    }
    width: 150px;
    position: relative;

    .details {
      margin:0px 4px;
    }
    .actions {
      position: absolute;
      top: 80px;
      width: 100%;
      padding:21px 0;
      text-align: center;
      background: none repeat scroll 0 0 rgba(99, 99, 99, 0.9);
      opacity: 0;
      transition: opacity 0.6s ease-out 0s;
      
      a {
        text-decoration: none;
      }

      .button {
        display: inline-block;
        padding: 0 5px;
        height: 28px;
        line-height: 28px;
        background-color: black;
        color: #FFFFFF;
        &:hover {
          background-color: #8C8C8C;
        }
        &.download {
          background-color: #428BCA;
          border-color: #357EBD;
        }
        &.info {
          background-color: #5CB85C;
          border-color: #4CAE4C;
        }
        &.selected {
          background-color: #EA7B34;
          &:hover {
            background-color: #C7692C;
          }
        }
        
      }
    }
  }
  .extended-info {
    position: absolute;
    top:0;
    display: none;
    height: 400px;
    width: 300px
  }
}
