@import "base";

body 
{
 font-family: Verdana, Arial, sans-serif;
 line-height:1.5;
 font-size:14px;
 color: #333;
}

h1, h2, h3, h4, h5, h6{ 
  font-weight: normal;
  margin-bottom:15px;
}
h1 {
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  color: #333;
  a {
    color: #2A6496;
  }
}

a {
  color:#333;
  &:hover, &:active, &:focus, &.current {
    color: #2A6496;
  }
  text-decoration: none;
}

ul {
  list-style: none;
}

.container{
  max-width: $site-max-width;
  min-width: $site-min-width;
  margin: 0 auto;
}
.main{
  margin: 25px 25px 0px;
  padding-bottom:85px;
}

nav.main-nav{
  border-bottom: 1px solid #E5E5E5;
  h1{
    padding-top:20px;
    font-size: 30px;
  }
  margin:0 25px 25px 25px;
  ul {
    margin:10px 0;
    li {
      display: inline-block;
      font-size: 16px;
      margin-right: 15px;
      &.right{
        margin:0;
      }
    }
  }
}
footer{
  background-color: #F1F1F1;
  font-size:10px;
  text-align:right;
  .container {
    padding-top:16px;
  }
}

.less-important {
  font-size: 12px;
}
.faded {
  color:#888888;
}
.noticeable {
  color:#ED9C28;
  font-size: 16px;
}
.right {
  float:right;
}
.hidden {
  display: none;
}
#flash {
  margin-bottom:15px;
}
/*CLEARFIX*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}