.rating{
  text-align: right;
}
.rating-points {
  background: url(ratings-sprite.png) no-repeat;
  height: 13px;
  width: 86px;
  margin: 5px 0;

  &.rated-0_0 {
    background-position: -85px -13px;
  }
  &.rated-0_5 {
    background-position: -85px -38px;
  }
  &.rated-1_0 {
    background-position: -68px -13px;
  }
  &.rated-1_5 {
    background-position: -68px -38px;
  }
  &.rated-2_0 {
    background-position: -51px -13px;
  }
  &.rated-2_5 {
    background-position: -51px -38px;
  }
  &.rated-3_0 {
    background-position: -34px -13px;
  }
  &.rated-3_5 {
    background-position: -34px -38px;
  }
  &.rated-4_0 {
    background-position: -17px -13px;
  }
  &.rated-4_5 {
    background-position: -17px -38px;
  }
  &.rated-5_0 {
    background-position: 0 -13px;
  }

}
.show .rating-points {
  display: inline-block;
}
.ratings {
  margin-top:25px;
  h1 {
    font-size: 20px;
  }
  article {
    margin:25px 0;
    header {
      width: 85px;
      .rating {
        display: inline-block;
        p {
          display: inline-block;
        }
      }
    }
    .comments {
      width: 500px;
      margin-left: 15px;
    }
  }
}